@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* header & footer */
body header{@apply flex md:justify-between  bg-gray-100 h-10 uppercase md:px-4 shadow-md}
.title-signup{@apply flex md:items-center}
body header h1{@apply font-bold md:text-xl text-red-500}
h2{@apply font-bold text-sm text-red-500 md:pl-2}
.pages{@apply flex md:items-center md:px-10 }
body header h2{@apply mx-4 hover:scale-125 transition ease-out duration-500}
body footer{@apply mt-2 text-center py-6 bg-gray-100  font-semibold text-lg }

/* home +fetchblog.js*/
.main{@apply mx-2 px-4 my-8 } 
.container-title-delete{@apply relative }
.title-blog{@apply relative px-2 pt-6 mb-2 font-semibold hover:shadow-lg}
.content-createdAt{@apply relative text-slate-800 hover:shadow-lg }
.artcle{@apply px-2 pb-4 mb-1}
.createdAt{@apply absolute bottom-0 right-3 text-slate-300 text-sm/4}

/*form.js*/
.content-form{@apply flex justify-center mt-12 mb-12}
label{@apply block text-red-500 font-bold mb-4}
.input-title{@apply block border-2 border-blue-400 w-96 h-10}
.textarea{@apply block border-2 border-blue-400 w-96  h-40 }
.submit{@apply block bg-blue-500 text-white rounded-full px-4 py-2 w-fit hover:bg-gray-500}

/* delete-button.js*/
.delete{@apply absolute top-0 right-3 text-sm/4}
.delete-button{@apply bg-red-400 text-white rounded-full px-2 py-1 w-fit hover:bg-gray-500}
